<div class="product-list-item">
    <div (click)="buy()">
        <img class="product-image" src="https://picsum.photos/id/{{product.imageId}}/200/200" />
        <div class="product-name">{{ product.name }}</div>
        <div class="likes">
            <mat-icon *ngFor="let star of stars" fontIcon="star"></mat-icon>
            <mat-icon *ngIf="product.rating % 1 !== 0" fontIcon="star_half"></mat-icon>
        </div>
        <div class="ready-text">Ready for shipment</div>
        <div class="old-cost-text">{{ product.oldPrice }}$</div>
        <div class="cost-and-buy">
            <div class="cost-text">{{ product.price }}$</div>
            <div class="buy-button">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>
            </div>
        </div>
    </div>
</div>
